<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <header th:insert="~{blocks/header :: header}"></header>

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="img\first_aid_kit.png" alt="" width="108" height="108">
        <h1 class="display-5 fw-bold text-body-emphasis">Домашняя аптечка</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">"Домашняя аптечка" - ваш персональный помощник в уходе за здоровьем. Это умное приложение, которое поможет вам сохранить полный перечень ваших лекарств, а также обеспечит подробную информацию о том, какие препараты рекомендуется иметь в вашей аптечке. Наш сервис анализирует ваши симптомы и болезни, затем подбирает оптимальные лекарства из вашего арсенала для конкретного состояния.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/medications/add" class="btn btn-primary btn-lg px-4 gap-3">Добавить лекарство</a>
                <a href="/illnesses/add" class="btn btn-primary btn-lg px-4 gap-3">Добавить болезнь</a>
            </div>
        </div>
    </div>

    <footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>