<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Болезни</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container mt-5">
  <div th:each="el : ${illness}" class="alert alert-info mt-2">
    <h1 th:text="${el.name}"></h1>
    <p th:text="${el.description}"></p>
  </div>
</div>
<div class="container mt-5">
  <h1>Лекарства в вашей аптечке, которые могут помочь</h1>
  <div th:each="el : ${meds}" class="alert alert-warning mt-2">
    <p th:text="${el.name}"></p>
    <p th:text="'Осталось ' + ${el.amount}"></p>
    <a th:href="'/medications'" class="link-success">Перейти к моим лекарствам</a>
  </div>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>