<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Лекарства</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <header th:insert="~{blocks/header :: header}"></header>

    <div class="container mt-5">
        <h1>Мои лекарства</h1>
        <div th:each="el : ${medications}" class="alert alert-info mt-2">
            <h3 th:text="${el.name}"></h3>
            <p th:text="'Годен до ' + ${el.expirationDate}"></p>
            <p th:text="'Осталось ' + ${el.amount}"></p>
            <p th:text="'Цена: ' + ${el.price} + ' Руб.'"></p>
            <p th:text="'Производитель:  ' + ${el.manufacturer.getCompanyName()} + ', ' + ${el.manufacturer.getCountry()}"></p>
            <a th:href="'/medications/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
            <form th:action="'/medications/' + ${el.id} + '/remove'" method="post" style="display: inline-block;">
                <button type="submit" class="btn btn-warning">Удалить</button>
            </form>
        </div>
    </div>

    <footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>