<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Лекарства</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container mt-5 mb-5">
    <h1>Удалить лекарство</h1>
    <form method="post">
        <input type="text" name="name" placeholder="Введите название" class="form-control"><br>
        <input type="text" name="expiration_date" placeholder="Введите срок годности" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control"><br>
        <input type="text" name="price" placeholder="Введите цену" class="form-control"><br>
        <input type="text" name="amount" placeholder="Введите количество таблеток или объем" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>