<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Симптомы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container mt-5">
    <div th:each="el : ${symptom}" class="alert alert-info mt-2">
        <h1 th:text="${el.name}"></h1>
        <p th:text="${el.description}"></p>
    </div>
</div>
<div class="container mt-5">
    <h1>Болезни, связанные с этим симптомом</h1>
    <div th:each="el : ${illnesses}" class="alert alert-warning mt-2">
        <p th:text="${el.name}"></p>
        <a th:href="'/illnesses/' + ${el.id}" class="link-success">Перейти к болезни</a>
    </div>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>